*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(236,192,189);
background: radial-gradient(circle, rgba(236,192,189,1) 0%, rgba(237,167,105,0.8883928571428571) 99%);
}

/* Estilização da Header */

header{
    background: #F4C4B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 30px;

    height: 70px;

    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    bottom: 0;
}

header ul{
    width: 25%;
}

.containerLinks, .containerIcones{
    display: flex;
    justify-content: space-between; 
    
    list-style: none; 
}

.containerLinks a, .containerIcones a{
    text-decoration: none;
    color: black;
}

.containerIcones img{
    width: 25px;
}
